@import "tailwindcss";

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #333333;
}